@charset "UTF-8";
body{
    font-size: 18px;
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
form,p{
    padding: 0;
    margin: 0;
    border: 0;
}
form{
    width: 420px;
    height: 200px;
    padding-top: 60px;
    margin: 250px auto;
    padding: 20px;
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
}
p{
    margin-top: 20px;
    margin-left: 10px;
}
p span{
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}
.num,.pass{
    width: 165px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}
.bth01{
    width: 80px;
    height: 25px;
    margin-left: 160px;
    margin-top: 20px;
    background-color: #57B2C9;
    color: #FFF;
    border: none;
}